{% extends 'main.html' %}

{% block container %}

<div class="container">

    <p2>You've been connected!</p2>

    <div class="grid-container">

        <div class="first-profile">
            <a href="{{ url_for('profile', user_id=profile_ids[0]) }}">
                <img class="profile-img" style="margin-bottom: 2px"
                    src="{{ url_for('static', filename=profile[0]['Picture']) }}">
            </a>
            <p style="margin-top: 0px">{{ profile[0]['Name'] }}</p>
        </div>

        <div class="second-profile">
            <a href="{{ url_for('profile', user_id=profile_ids[1]) }}">
                <img class="profile-img" style="margin-bottom: 2px"
                    src="{{ url_for('static', filename=profile[1]['Picture']) }}">
            </a>
            <p style="margin-top: 0px">{{ profile[1]['Name'] }}</p>
        </div>

        <div class="third-profile">
            <a href="{{ url_for('profile', user_id=profile_ids[2]) }}">
                <img class="profile-img" style="margin-bottom: 2px"
                    src="{{ url_for('static', filename=profile[2]['Picture']) }}">
            </a>
            <p style="margin-top: 0px">{{ profile[2]['Name'] }}</p>
        </div>

        <div class="fourth-profile">
            <a href="{{ url_for('profile', user_id=profile_ids[3]) }}">
                <img class="profile-img" style="margin-bottom: 2px"
                    src="{{ url_for('static', filename=profile[3]['Picture']) }}">
            </a>
            <p style="margin-top: 0px">{{ profile[3]['Name'] }}</p>
        </div>

        <div class="fifth-profile">
            <a href="{{ url_for('profile', user_id=profile_ids[4]) }}">
                <img class="profile-img" style="margin-bottom: 2px"
                    src="{{ url_for('static', filename=profile[4]['Picture']) }}">
            </a>
            <p style="margin-top: 0px">{{ profile[4]['Name'] }}</p>
        </div>

        <div class="same-interests">
            <p2 style="display: block; margin: 8px 0px">{{ common_interests[0] }}</p2>
            <p2 style="display: block; margin: 8px 0px">{{ common_interests[1] }}</p2>
            <p2 style="display: block; margin: 8px 0px">{{ common_interests[2] }}</p2>
        </div>

    </div>

    <p2 style="margin-top: 8px">Click on a picture to expand a profile.</p2>

    <p2 style="margin: 8px 0px">Would you like to meet them?</p2>

    <div class="settings-container">
        <div class="settings-item">
            <!--<form>-->
                <!--HARD CODED-->
                <a href="{{ url_for('meet', connection_id=1) }}">
                    <input type="submit" class="answer-button" value="Yes">
                </a>
            <!--</form>-->
        </div>
        <div class="settings-item">
            <form>
                <input type="submit" class="answer-button" value="No">
            </form>
        </div>
    </div>

</div>

{% endblock %}