{% extends 'main.html' %}

{% block container %}

<div class="container">

    <img class="large-profile-img"
        src="{{ url_for('static', filename=profile['Picture']) }}">

    <p>{{ profile['Name'] }}</p>

    <div class="bio-container">
        <p3>{{ profile['Bio'] }}</p3>
    </div>

    <p>{{ profile['Name'] }}'s interests are:</p>

    <p2 style="margin: 8px auto">{{ profile['Interests'][0] }}</p2>
    <p2 style="margin: 8px auto">{{ profile['Interests'][1] }}</p2>
    <p2 style="margin: 8px auto">{{ profile['Interests'][2] }}</p2>
    <p2 style="margin: 8px auto">{{ profile['Interests'][3] }}</p2>
    <p2 style="margin: 8px auto">{{ profile['Interests'][4] }}</p2>

    <div class="settings-container" style="margin-top: 8px">
        <div class="settings-item">
            <form>
                <input type="submit" class="answer-button" value="Go Back">
            </form>
        </div>
    </div>

</div>

{% endblock %}