{% extends 'main.html' %}

{% block container %}

<div class="container">

    <h1 style="margin-top: 64px">Username</h1>
    <form>
        <input type="text" class="text-form" placeholder="Username">
    </form>

    <h1>Display Name</h1>
    <form>
        <input type="text" class="text-form" placeholder="Display Name">
    </form>

    <h1>Email</h1>
    <form>
        <input type="text" class="text-form" placeholder="Email Address">
    </form>

    <h1>Password</h1>
    <form>
        <input type="text" class="text-form" placeholder="Password">
    </form>

    <h1>Confirm Password</h1>
    <form>
        <input type="text" class="text-form" placeholder="Confirm Password">
    </form>

    <form>
        <input type="submit" class="submit-button" value="Sign Up">
    </form>


    <p>
        Forgot your password?
    </p>
</div>

{% endblock %}