{% extends 'main.html' %}

{% block container %}

<div class="container">

    <h1 style="margin-top: 64px">Username</h1>
    <form>
        <input type="text" class="text-form" placeholder="Username">
    </form>

    <h1>Password</h1>
    <form>
        <input type="text" class="text-form" placeholder="Password">
    </form>

    <form>
        <input type="submit" class="submit-button" value="Sign In">
    </form>


    <p>
        Don't have an account?
        <br>
        <a href="{{ url_for('signup') }}">Sign up</a> today!
    </p>
</div>

{% endblock %}