<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Audiowide|Righteous|Concert One|Russo One|Kalam">
    <link rel="stylesheet"
        href="C:\Users\Darius\Documents\EPI School\Coursework\8 - Your app in Flask\8-7 Your App - Code up the first few pages\static\style.css">
    <script
        src="C:\Users\Darius\Documents\EPI School\Coursework\8 - Your app in Flask\8-7 Your App - Code up the first few pages\templates\script.js"
        defer></script>
    <title>5 x 5</title>
</head>

<body>
    <header>
        <nav class="nav">
            <ul style="margin-right: auto; padding-left: 8px">
                <li class="nav-item title">
                    <img class="logo-img" id="logo-img-hover"
                        src="C:\Users\Darius\Documents\EPI School\Coursework\8 - Your app in Flask\8-7 Your App - Code up the first few pages\static\logo.png">
                    <a style="margin-left: 80px" href="#" id="hide">5 x 5</a>
                </li>
            </ul>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <ul style="align-self: flex-end">
                <li class="nav-item nav-link" id="desktop-nav-link"><a href="#">About</a></li>
                <li class="nav-item nav-link" id="desktop-nav-link"><a href="#">Sign In</a></li>
            </ul>
        </nav>

        <nav class="nav-collapse">
            <ul style="align-self: center">
                <li class="nav-item nav-link" onclick="collapse()"><a href="#">Home</a></li>
                <li class="nav-item nav-link" onclick="collapse()"><a href="#">About</a></li>
                <li class="nav-item nav-link" onclick="collapse()"><a href="#">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <p2>Welcome, John Smith.</p2>

        <h1>Status</h1>

        <button type="button" disabled class="status">Connecting</button>

        <p2>We're connecting you with people who have similar interests.
            <br>
            Be sure to check back for updates.
        </p2>

        <p2 style="margin: 8px 0px">Your profile looks good!</p2>

        <h1>My Profile</h1>

        <h2>Profile Picture</h2>
        <div class="settings-container">
            <div class="settings-item">
                <div class="profile-img-container">
                    <img class="profile-img"
                        src="C:\Users\Darius\Documents\EPI School\Coursework\8 - Your app in Flask\8-7 Your App - Code up the first few pages\static\john.png">
                </div>
            </div>

            <div class="settings-item" style="align-self: center">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

        <h2>Display Name</h2>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="John">
                </form>
            </div>

            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

        <h2>Bio</h2>

        <div class="bio-container">
            <p3>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque delectus autem alias,
                et, ipsa nulla, ipsam explicabo temporibus officiis facere quo non. Asperiores impedit ab dolores
                eum reiciendis numquam, temporibus quisquam! Velit deserunt, est nam nisi quod ullam veniam ducimus.
                <p3>
        </div>

        <div class="settings-item" style="margin: 0px auto 8px">
            <form>
                <input type="submit" class="update-button" value="Update">
            </form>
        </div>


        <h2>Zip Code</h2>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="12345">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

        <h2>My Interests</h2>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="Football">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="Hiking">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="Photography">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="Video Games">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="Coding">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

    </div>
</body>

</html>