{% extends 'main.html' %}

{% block container %}

    <div class="container">

        <p2>Welcome, {{ profile['Name'] }}.</p2>

        <h1>Status</h1>

        <button type="button" disabled class="status">Connecting</button>

        <p2>We're connecting you with people who have similar interests.
            <br>
            Be sure to check back for updates.
        </p2>

        <p2 style="margin: 8px 0px">Your profile looks good!</p2>

        <h1>My Profile</h1>

        <h2>Profile Picture</h2>
        <div class="settings-container">
            <div class="settings-item">
                <div class="profile-img-container">
                    <img class="profile-img"
                        src="{{ url_for('static', filename=profile['Picture']) }}">
                </div>
            </div>

            <div class="settings-item" style="align-self: center">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

        <h2>Display Name</h2>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Name'] }}">
                </form>
            </div>

            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

        <h2>Bio</h2>

        <div class="bio-container">
            <p3>
                {{ profile['Bio'] }}
                <p3>
        </div>

        <div class="settings-item" style="margin: 0px auto 8px">
            <form>
                <input type="submit" class="update-button" value="Update">
            </form>
        </div>


        <h2>Zip Code</h2>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Zip Code'] }}">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

        <h2>My Interests</h2>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Interests'][0] }}">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Interests'][1] }}">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Interests'][2] }}">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Interests'][3] }}">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>
        <div class="settings-container">
            <div class="settings-item">
                <form>
                    <input type="text" class="text-form" placeholder="{{ profile['Interests'][4] }}">
                </form>
            </div>
            <div class="settings-item">
                <form>
                    <input type="submit" class="update-button" value="Update">
                </form>
            </div>
        </div>

    </div>

{% endblock %}